<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        /* Add your custom styles here */
    </style>
</head>
<body>
    <div class="container mt-5">
        <h2>Welcome, Admin!</h2>
        <!-- Menu Links -->
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#createUserModal">Create User</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#updateDeleteUserModal">Update/Delete User</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#searchUserModal">Search User</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#displayAllUsersModal">Display All Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#displayUserDetailsModal">Display User Details</a>
            </li>
        </ul>
    </div>

    <!-- Modals -->
    <!-- Create User Modal -->
    <div class="modal fade" id="createUserModal" tabindex="-1" role="dialog" aria-labelledby="createUserModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!-- Add your create user form here -->
            </div>
        </div>
    </div>

    <!-- Other Modals -->
    <!-- Add modals for other actions here -->

    <!-- JavaScript -->
    <script>
        // Add your JavaScript code here
    </script>
</body>
</html>
